@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fffafa;
  padding: 5px;
  display: flex;
  margin: 10px;
  gap: 4px;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.searchbar {
  box-shadow: inset;
  display: flex;
  align-items: center;
  border: #c2bfb7;
  border-radius: 20px;
  padding: 3px 10px;
  gap: 5px;
  width: 300px;

  background-color: #f5f4f5;
}

.searchbar img {
  fill: #c2bfb7;
}
.searchbar input {
  height: 30px;
  border-radius: 14px;
  background: transparent;
  width: 100%;
  outline: none;
  border: navajowhite;
}

.nav-menus {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;

  border-radius: 50%;
}

.pages {
  display: flex;
  align-items: center;
  flex-shrink: initial;
  gap: 20px;

  padding: 20px 20px;
  box-shadow: 0px 1px 1px rgba(162, 158, 150, 0.5);
}

.pages a {
  text-decoration: none;
  color: #28282b;
  font-weight: 600;
}

.pages a:hover {
  color: #d61a3c;
}

.banner {
  margin: 20px 0px;

  height: 300px;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
}
.products-container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}
.reviews {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.products {
  min-height: 250px;
  width: 200px;
  padding: 14px;
  border-radius: 20px;
  background-color: #f5f4f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.product-img {
  background-color: #c2bfb7;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 6px;
}

.product-desc {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btns button {
  width: 100px;
  padding: 6px 10px;
  border: none;
  color: #fffafa;
  background-color: #28282b;
  border-radius: 6px;
  cursor: pointer;
}

.review-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 200px;
  background-color: #f5f4f5;
  padding: 14px;
  border-radius: 14px;
  gap: 15px;
}
.review-container .users {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user-reviews {
  display: flex;
  background-color: #ebebeb;
  height: 100%;
  border-radius: 14px;
  padding: 5px;

  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 10px;
  background-color: #28282b;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 14px;
  font-weight: 100;
  justify-content: end;
}
.footer div {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
